/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/avenir-next-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/avenir-next-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/avenir-next-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/dmsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/dmsans-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Sen";
  src: url("../../assets/fonts/sen-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
