@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.top-header {
  &__menu {
    background-color: black;
    display: flex;
    align-items: center;
    height: 2.5rem;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 2rem;
    gap: 2rem;
    margin: 0;

    &-item, &-item-question {
      color: white;
    }

    &-item-question {
        font-size: 1.3rem;
    }

    &-logo {
        height: 1.2rem;
    }
  }
}
