@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as mx;

.cta{
    display: flex;
    flex-direction: column;
   align-items: center;

   &__copy{
    width: 34rem;
    text-align: center;
   }
    &__button{
        text-align: center;
        @include mx.button;
        width: 23.31rem;
    }
}