@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/fonts" as *;

.cta {
  font-family: "DM Sans";
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;

  &__copy {
    width: 34rem;
    text-align: center;
  }
  &__button {
    text-align: center;
    @include mx.button;
    width: 23.31rem;
  }
  &__images {
    overflow: hidden;
    width: 100vw;
    display: flex;
    z-index: -1;
    margin-bottom: -23rem;
    margin-top: -5rem;
  }
  &__blue {
    z-index: -5;
    margin-left: -5rem;
  }
  &__green {
    z-index: -4;
    margin-left: -25rem;
  }
  &__red {
    z-index: -3;
  }
  &__circle {
    z-index: -2;
    margin-left: -20rem;
  }
}
