@use "../../styles/partials/colors" as color;
@use "../../styles//partials/breakpoints" as bp;
@use "../../styles/partials/fonts" as *;

.features {
  width: 100vw;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
