@use "../../styles/partials/colors" as color;
@use "../../styles//partials/breakpoints" as bp;
@use "../../styles/partials/fonts" as *;

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5.5rem;
  padding: 0 9rem;

  &--reverse {
    @extend .feature;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__image {
    width: 50%;
  }

  &__img {
    width: 85%;
    border-radius: 10px;
    // box-shadow: #a026d954 0px 5px 24px;
  }
  // &__text--reverse {
  // }
  &__text {
    position: relative;
    padding: 0 0 0;
    width: 50%;

    &-title {
      margin: 0 0 1rem 0;
      font-size: 1.9rem;
      font-weight: 600;
      line-height: 3rem;
      width: 85%;
    }

    &-description {
      // margin: 0.5rem 0 2rem 0;
      font-size: 1.2rem;
      font-weight: 400;
      width: 90%;
    }
  }

  &__button {
    // position: absolute;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 99, 231);
    padding: 0.7rem 3rem;
    border-radius: 38px;
    margin-top: 2rem;
    font-family: "Avenir";
    font-size: 1.4rem;
  }
}
