@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/fonts" as *;

.footer {
  font-family: "DM Sans";
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: row;
  padding: 2rem 9rem;
  justify-content: space-between;
  width: 100vw;
  font-size: 1rem;
  a {
    text-decoration: none;
    color: $darkblack;
    margin: 0 1rem 0 0;
    &:visited {
      color: $darkblack;
    }
    &:hover {
      color: $darkblack;
    }
  }
  &__form-label {
    width: 11rem;
    display: inline-block;
  }
  &__left {
    width: 40.5rem;
  }
  &__social {
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__form {
    padding-top: 1rem;

    display: flex;
    align-items: flex-start;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220);
    padding: 0.2rem 0.7rem;
    &::placeholder {
      font-family: "DM Sans";
      font-size: 0.9rem;
    }
  }
  &__title {
    font-size: 1rem;
    margin-right: 1.6rem;
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
}
