
@import '~bootstrap/scss/bootstrap';
@use "./styles/partials/fonts" as *;
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
